@greyfont:#CCC;
@greylogo:#757575;
@black:#080808;
@top:10px;
@bottom:10px;
@right:5px;
@left:5px;

.margenes (@top:10px, @bottom:10px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.relleno-vertical (@top:10px, @bottom:10px) {
	padding-top: @top;
	padding-bottom: @bottom;
}
.relleno-horizontal (@right:5px, @left:5px) {
	padding-right: @right;
	padding-left: @left;
}
.fondo_black (@background,@color_letra){
	background-color: @background;
	color: @color_letra;
}

.jumbotron {
    .fondo_black(@black, @greyfont);
    .margenes(@top, @bottom);
    text-align: center;
}
  
 footer {
    .fondo_black(@black, @greyfont);
    .margenes(@top, 0px);
    .relleno-vertical (@top, 0px);
    .relleno-vertical (@right, @left);
 }
  
 footer a, address {
    margin: 10px 10px 10px 10px;
    color: @greyfont;
    text-align: center; }
  
  .footer-address-icon {
    padding-right: 10px; }
  
  .btn-compra-icon {
    float: left; }
  
  .categorias {
    font-weight: bold;
    text-align: center;
    .margenes(@top, 0px);
    .relleno-vertical(2px, 2px);
    .relleno-horizontal(5px, 5px);
    }
  
  .card-info-pago {
    flex: 1 200px;
    .margenes (@top, @bottom);
    }
  
  .card-productos {
    flex: 1 200px;
    .margenes (@top, 0px);
    }
  
  .card-info {
    flex: 1 200px;
    border: none;
    text-align: center;
    .margenes(@top, @bottom);
   }
  
  .card-text {
    text-align: center; }
  
  .text-colores {
    text-align: center; }
  
  .precio {
    font-weight: bold;
    text-align: center; }
  
  .btn-compra {
    width: 100%; }
  
  h4 {
    text-align: center; }
  
  .navbar-brand {
    padding-right: 10px;
    border-right: solid 1px @greylogo; }
  
  .logo {
    color: @greylogo; }
  
  #img-banner {
    width: 100%; }
  
  .tab-content {
    padding-top: 10px; }
  
  .btn-collapse {
    width: 100%; }
  
  .button-contacto {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0px; }
  
  .boton-info-compra {
      .relleno-vertical(@top, @bottom);
      .relleno-horizontal(@right,@left);
    }
  
  .multi-collapse {
    width: 100%; }
  
  /* for phone */
  .card-button-inicio {
    flex: 1 100px;
    margin: 20px 10px 20px 10px; }
  
  .btn-inicio {
    width: 100%; }
  
  /* for phone */
  @media screen and (min-width: 740px) {
    .card-button-inicio {
      flex: 1 100px;
      margin: -90px 10px 20px 10px; }
    .btn-inicio {
      width: 50%;
      border-color: @greyfont;
      color: @greyfont; } }
  