$greyfont:#CCC;
$greylogo:#757575;
$black:#080808;

@mixin margenes ($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin relleno-vertical ($top, $bottom) {
	padding-top: $top;
	padding-bottom: $bottom;
}
@mixin relleno-horizontal ( $right, $left) {
	padding-right: $right;
	padding-left: $left;
}
@mixin fondo_black ($background,$color_letra){
	background-color: $background;
	color: $color_letra;
}
.jumbotron{
	@include fondo_black($black, $greyfont);
	@include margenes(50px,20px);
	text-align:center;
    }

footer{
	@include fondo_black($black,$greyfont);
	@include margenes(10px,0px);
	@include relleno-vertical(10px,0px);
	@include relleno-horizontal(10px,10px);
}
footer a, address{
	margin: 10px 10px 10px 10px;
	color:$greyfont;
	text-align: center;
}
.footer-address-icon {
	padding-right: 10px;
}
.btn-compra-icon{
	float: left;
}
.categorias{
	font-weight:bold;
	text-align:center;
	@include margenes(10px, 0px);
	@include relleno-vertical(2px, 2px);
	@include relleno-horizontal(5px, 5px);
}
.card-info-pago{
	flex: 1 200px;
	@include margenes(10px, 10px);
}
.card-productos{
	flex: 1 200px;
	@include margenes(10px, 0px);
}
.card-info{
	flex: 1 200px;
	border: none;
	text-align: center;
	@include margenes(10px, 10px);
	}
.card-text {
	text-align: center;
}
.text-colores{
	text-align: center;
	
}
.precio{
	font-weight:bold;
	text-align:center;
	}
.btn-compra {
	width: 100%;
	}
h4 {
	text-align:center}
.navbar-brand{
	padding-right: 10px;
	border-right: solid 1px 
	$greylogo;
}
.logo{
	color: $greylogo;
}
#img-banner{
	width: 100%;
}
.tab-content{
	padding-top: 10px;
}
.btn-collapse{
	width: 100%;
}
.button-contacto{
	width: 100%;
    @include margenes(10px, 0px);
}
.boton-info-compra{
	@include relleno-vertical(20px, 20px);

}
.multi-collapse{
	width: 100%;
}

/* for phone */
.card-button-inicio{
	flex: 1 100px;
	margin: 20px 10px 20px 10px;
}
.btn-inicio{
	width: 100%;
}
/* for phone */
@media screen and (min-width:740px){
	.card-button-inicio{
		flex: 1 100px;
		margin: -90px 10px 20px 10px;
	}
	.btn-inicio{
		width: 50%;
		border-color: $greyfont;
		color: $greyfont;
	}
	
}
