.jumbotron {
  background-color: #080808;
  color: #CCC;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center; }

footer {
  background-color: #080808;
  color: #CCC;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px; }

footer a, address {
  margin: 10px 10px 10px 10px;
  color: #CCC;
  text-align: center; }

.footer-address-icon {
  padding-right: 10px; }

.btn-compra-icon {
  float: left; }

.categorias {
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 5px;
  padding-left: 5px; }

.card-info-pago {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 10px; }

.card-productos {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-info {
  flex: 1 200px;
  border: none;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px; }

.card-text {
  text-align: center; }

.text-colores {
  text-align: center; }

.precio {
  font-weight: bold;
  text-align: center; }

.btn-compra {
  width: 100%; }

h4 {
  text-align: center; }

.navbar-brand {
  padding-right: 10px;
  border-right: solid 1px #757575; }

.logo {
  color: #757575; }

#img-banner {
  width: 100%; }

.tab-content {
  padding-top: 10px; }

.btn-collapse {
  width: 100%; }

.button-contacto {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 0px; }

.boton-info-compra {
  padding-top: 20px;
  padding-bottom: 20px; }

.multi-collapse {
  width: 100%; }

/* for phone */
.card-button-inicio {
  flex: 1 100px;
  margin: 20px 10px 20px 10px; }

.btn-inicio {
  width: 100%; }

/* for phone */
@media screen and (min-width: 740px) {
  .card-button-inicio {
    flex: 1 100px;
    margin: -90px 10px 20px 10px; }
  .btn-inicio {
    width: 50%;
    border-color: #CCC;
    color: #CCC; } }
